* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background-image: url('/images/kanto_route.webp');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Press Start 2P', cursive;
    font-size: 9px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.title {
    color: #ffcd02;
    text-shadow: #003060 1px 5px 3px;
    font-size: 30px;
    letter-spacing: 3px;
    margin: 20px 0;
}

.pokemon-container  {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    place-items: center;
    margin: 0 auto;
    gap: 1rem 1.5rem;
}

button {
    margin-top: 10px;
    line-height: 40px;
    font-weight: bold;
    font-size: large;
    color: #003060;
    padding: 0 40px;
    background: #ffcd02;
    border: 3px solid #003060;
    border-radius: 40px;
    box-shadow: 0 5px 20px 3px rgba(0, 0, 0, 0.6);
    transition: background-color .4s ease;
}

button:hover {
    background: #003060;
    color: #ffcd02;
    position: relative;
    top: 2px;
    box-shadow: none;
  }

  .pokemon {
    background-color: #eee;
    border-radius: 10px;
    box-shadow: 0 3px 15px #000;
    margin: 15px;
    padding: 25px;
    text-align: center;
  }

  .pokemon .img-container {
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 50%;
    width: 120px;
    height: 120px;
    text-align: center;
  }
  
  .pokemon .img-container img {
    max-width: 100%;
    margin-top: 20px;
  }
  
  .pokemon .info {
    margin-top: 20px;
    color: #003060;
  }
  
  .pokemon .info .number {
    background-color: rgba(0, 0, 0, 0.1);
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 0.8em;
  }
  
  .pokemon .info .name {
    margin: 15px 0 7px;
    letter-spacing: 1px;
  }

.height .weight {
    margin: 10px 0;
  }

  .weight {
    margin: 10px 0;
  }


  .pokemon .flipped {
    transform: rotateY(-180deg);
  }

  .pokemon:hover {
    transform: scale(1.1);
  }

  .pokemon {
    position: relative;
  }

  .pokemon .back {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
  }
