* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


:root {
  --color-yellow: #ffcd02;
  --color-darkBlue: #003060;
  --color-white: #ddd;
  --color-black: #000;
}

body {
  background-image: url('/images/kanto_route.webp');
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--color-darkBlue);
  font-family: 'Press Start 2P', cursive;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.title {
  color: var(--color-yellow);
  text-shadow: var(--color-darkBlue) 0px 5px 0px;
  font-size: 35px;
  letter-spacing: 3px;
  margin: 50px 0;
  height: 3vh;
}

/* // BUTTONS NEXT & PREV  */
.pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 20px 0px;
}

.pagination button {
  margin: 0px 5px;
  font-family: inherit;
  text-align: center;
  cursor: pointer;
  margin-top: 50px;
  line-height: 35px;
  font-weight: bold;
  font-size: 12px;
  color: var(--color-darkBlue);
  background: var(--color-yellow);
  border: 3px solid var(--color-darkBlue);
  border-radius: 8px;
  box-shadow: 0 5px 20px 3px rgba(0, 0, 0, 0.6);
  transition: all .4s ease;
  width: 120px;
}

.pagination button:hover {
  transform: scale(1.1);
  background: var(--color-darkBlue);
  color: var(--color-yellow);
}

.pagination button:active {
  transform: scale(0.9);
}

/* PAGINATION CONTAINER  */
#pagination-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 0px;
}

/* POKEMON GALLERY  */
.name {
  color: var(--color-white);
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  font-size: 0.78rem;
  cursor: pointer;
  position: relative;
}


#pokemon-gallery {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  place-items: center;
  margin: 0 auto;
  gap: 1rem 1.5rem;
}

#pokemon-gallery .pokemon {
  border-radius: 8px;
  box-shadow: 0 3px 15px var(--color-black);
  filter: drop-shadow(0 3px 15px var(--color-black));
  display: flex;
  align-items: flex-start;
  padding: 10px;
  width: 170px;
  height: 170px;
  justify-content: center;
  background-image: url("./images/poke_background_icon.png");
  background-repeat: no-repeat;
  background-size: cover;
  transition: trasform 0.3s;
}

#pokemon-gallery .pokemon:hover {
  transform: scale(1.1);
}

#pokemon-gallery .pokemon div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* PAGINATION NUMBERS  */
#pages-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
}

#pages-container button {
  margin: 0px 5px;
  padding: 5px 10px;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 8px;
  background-color: var(--color-yellow);
  color: var(--color-darkBlue);
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  font-size: 12px;
  font-family: inherit;
}

#pages-container button:hover {
  transform: scale(1.1);
}

#pages-container button:active {
  transform: scale(0.9);
}

#pages-container button.active {
  background-color: var(--color-darkBlue);
  color: var(--color-yellow);
}

button:disabled {
  pointer-events: none;
  opacity: 0.5;
}

body .modal-open {
  overflow: hidden;
}

/* /* POP-UP THEME  */
.modal {
  /* position: absolute; */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  padding: 0.5rem;
  background-color: var(--color-yellow);
  border-radius: 8px;
  transition: all 0.3s ease;
}

.modal::backdrop {
  background-color: rgba(0, 0, 0, 0.6);
}

/* POP-UP  */
.modal-content {
  background-color: var(--color-white);
  border: solid 5px var(--color-darkBlue);
  margin: auto;
  padding: 20px;
  border-radius: 8px;
}

#modal-title {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  text-decoration: underline 3px var(--color-darkBlue);
  width: 350px;
  color: var(--color-darkBlue);
  line-height: 30px;
}

#modal-img {
  margin-bottom: 10px;
  width: 160px;
  height: 160px;
  filter: drop-shadow(5px 5px 0px rgba(0, 0, 0, 0.5));
  -webkit-user-drag: none;
  animation: pulse 1.5s linear infinite;
}

#modal-stats {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: var(--color-darkBlue);
}

#modal-stats p {
  margin: 7px 0px;
  font-size: 16px;
}

#modal-type {
  border: outset 4px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 5px;
}

.close {
  color: #b2beb5;
  float: right;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: var(--color-black);
  cursor: pointer;
}

.bold-info {
  font-weight: bold;
}

/* MEDIA QUERIES  */
@media screen and (max-width: 768px) {
  #pokemon-gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  #modal-title {
    /* text-align: center; */
    font-size: 16px;
    width: 275px;
  }

  #modal-stats p {
    font-size: 14px;
  }

  .modal {
    position: fixed;
  }

  .title {
    text-align: center;
    height: 6vh;
  }
}

/* KEY FRAMES */
@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

/* ANIMATION FOR TEXT NAME CARD  */
.name::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: var(--color-darkBlue);
  bottom: -5px;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .3s ease-in-out;
}

.name:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}