*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
:root {
    --color-yellow: #ffcd02;
    --color-darkBlue: #003060;
    --color-white: #ddd;
    --color-black: #000;
}

body{
    background-image: url('/images/kanto_route.webp');
    background-size: cover;
    background-repeat: no-repeat;
    color: var(--color-darkBlue);
    font-family: 'Press Start 2P', cursive;
    font-size: 9px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.title {
    color: var(--color-yellow);
    text-shadow: var(--color-darkBlue) 1px 5px 3px;
    font-size: 30px;
    letter-spacing: 3px;
    margin: 30px 0;
}

.pokemon-container  {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    place-items: center;
    margin: 0 auto;
    gap: 1rem 1.5rem;
}

button {
    font-family: inherit;
    cursor: pointer;
    margin-top: 50px;
    line-height: 35px;
    font-weight: bold;
    font-size: 16px;
    color: var(--color-darkBlue);
    padding: 0 40px;
    background: var(--color-yellow);
    border: 3px solid var(--color-darkBlue);
    border-radius: 8px;
    box-shadow: 0 5px 20px 3px rgba(0, 0, 0, 0.6);
    transition: background-color .4s ease;
}

button:hover {
    background: var(--color-darkBlue);
    color: var(--color-yellow);
    position: relative;
    top: 2px;
    box-shadow: none;
  }

  .pokemon {
    border-radius: 8px;
    box-shadow: 0 3px 15px var(--color-black);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    position: relative;
  }
  .pokemon>div {
    text-align: center;
    transition: transform 0.3s;
    backface-visibility: hidden;
    cursor: pointer;
  }

  .pokemon .img-container {
    text-align: center;
  }
  
  .pokemon .img-container img {
    max-width: 90%;
    filter: drop-shadow(0px 0px 5px black);
    margin-top: -10px;
    -webkit-user-drag: none;
  }
  
  .pokemon .info {
    margin-top: 20px;
}
  
  .pokemon .info .number {
    background-color: rgba(0, 0, 0, 0.1);
    padding: 5px 10px;
    font-size: 0.8em;
  }
  
  .pokemon .info .name {
    margin: 15px 0 7px;
    letter-spacing: 1px;
  }

.height {
    margin: 1px 0;
  }

  .weight {
    margin: 7px 0;
  }


  .pokemon .flipped {
    transform: rotateY(-180deg);
  }

  .pokemon:hover {
    transform: scale(1.1);
  }

  .pokemon .back {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
  }

  .idPoke {
    display: flex;
    justify-content: end;
    margin: 5px 0;
  }

  .stats {
    display: flex;
    flex-direction: column;
}

.pokemon-pagination {
    color: red;
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 768px) {
    .pokemon-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .title {
        text-align: center;
    }
}

#loading {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
}